# copy to .env and fill values
APP_BASIC_AUTH_USER=admin
APP_BASIC_AUTH_PASS=change-me
APP_PORT=8080
DRPC_HTTP_URL=https://lb.drpc.live/ethereum/YOUR_KEY
DRPC_WSS_URL=wss://lb.drpc.live/ethereum/YOUR_KEY
DRPC_KEY=YOUR_KEY
